.App {
  text-align: center;
  font-family: sans-serif;
}

.buttons {
  margin: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 150px);
  gap: 10px;
  justify-content: center;
}

.grid img {
  width: 150px;
  height: 150px;
  object-fit: contain;
  border: 2px solid #ccc;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.grid img.correct {
  border-color: green !important;
  box-shadow: 0 0 10px green;
}

.grid img.wrong {
  border-color: red !important;
  box-shadow: 0 0 10px red;
}
